<h3 class="text-center mb-4 text-monospace">Bem vindo a nossa loja</h3>
<div class="col-md-12 align-itens-center" id="produtos">
    <div class="col-md-12 my-5 d-flex flex-wrap px-2 align-itens-center">
        <div class="card mb-5 mx-4" *ngFor="let produto of listaProdutos">
            
            <div class="card-body text-center">
                <img src="{{ produto.imagem }}" alt="Imagem de capa do card" id="imagem-card">
                <h5 class="card-title">{{ produto.nome }}</h5>
                <p class="card-text">Código: {{ produto.id }}</p>
                <p class="card-text">Preço: R{{ produto.preco | currency }}</p>
                <p class="card-text">Quantidade em estoque: {{ produto.qtdEstoque }}</p>
                <button class="btn btn-outline-info mr-3" [routerLink] = "['/editar', produto.id]">Editar</button>
                <button class="btn btn-outline-danger ml-3" [routerLink] = "['/deletar', produto.id]">Apagar</button>
            </div>
            
        </div>
    </div>
</div>